<img src="../img/atlanta.jpg" alt="" width="200px" height="200px">

<p class="cuerpoInfo">¡Buenas! Somos Malena Rojas y Guillermo Iribarne, estudiantes avanzados del Profesorado de Inglés Técnico del Instituto Nacional Superior Del Profesorado Técnico.</p>
<p class="cuerpoInfo">Realizamos esta página web como idea para nuestro proyecto integrador de la materia Filosofía.</p>
<p class="cuerpoInfo">Esperamos que les sea divertido, y que puedan aprender y reflexionar tanto como nosotros en esta hermosa materia.</p>
<button onclick="mostrarPortada()" onmouseenter="" class="botonHacerTest marroncito">Volver al inicio</button>