<p class="tituloPortada">¿Qué filósofo Sos?</p>
<img src="../img/aristoteles.jpeg" class="imagenPortada">
<img src="../img/descartes.jpg" class="imagenPortada">
<img src="../img/platon.jpeg" class="imagenPortada">
<img src="../img/spinoza.jpeg" class="imagenPortada">
<img src="../img/san_agustin_de_hipona.jpg" class="imagenPortada">
<img src="../img/nietzsche.jpg" class="imagenPortada">
<img src="../img/socrates.png" class="imagenPortada">
<img src="../img/atlanta.jpg" class="imagenPortada">
<img src="../img/atlanta.jpg" class="imagenPortada">
<img src="../img/atlanta.jpg" class="imagenPortada">
<br>
<button onclick="empezarJuego()" onmouseenter="" class="botonHacerTest px-3 mt-2 violetita">¡Comienza el test!</button>
<br>
<button onclick="mostrarInstr()" onmouseenter="" class="botonHacerTest px-3 mt-2 mx-3 patito">Instrucciones</button>
<button onclick="mostrarInfo()" onmouseenter="" class="botonHacerTest px-3 mt-2 mx-3 marroncito">Sobre nosotros</button>
